@font-face {
    font-family: 'CyberFluid';
    src: url('./CyberFluid.ttf') format('truetype');
}

body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'MyFont', sans-serif;
    color: #f0f0f0;
    overflow: hidden;
}

.background-mesh {
    position: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
    background-size: 200% 200%;
    animation: meshGradient 15s ease infinite;
    z-index: 1;
}

@keyframes meshGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}